/* 
===================================
GLOBALS
===================================
*/

:root {
    --mainPrimary: #f15025;
    --mainSecondary: #242a33;
    --mainGrey: #687384;
    --darkGrey: #403f4c;
    --mainRed: #ef5350;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.right-padding {
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.max-viewport {
    min-height: 100vh;
}


/* 
===================================
NAVBAR
===================================
*/

.navbar {
    border-top: 3px solid var(--mainPrimary);
    border-bottom: 3px solid var(--mainPrimary);
    background: var(--mainSecondary);
}

.navbar .navbar-brand {
    color: var(--mainPrimary);
}

.navbar .nav-link,
.navbar .nav-icon {
    color: var(--mainGrey);
}

.navbar .nav-link:hover,
.navbar .nav-icon:hover {
    color: #fff;
}

.navbar .icon {
    position: relative;
}

.navbar .icon::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--mainRed);
}


/* 
===================================
SIDEBAR
===================================
*/

.sidebar {
    background-color: var(--mainSecondary);
}

.sidebar .nav-link,
.sidebar .navbar-brand {
    color: var(--mainGrey);
}

.sidebar .nav-link:hover,
.sidebar .navbar-brand:hover {
    color: #fff;
}


/* 
===================================
CARDS
===================================
*/

.inform-card .card1 {
    background-color: var(--darkGrey);
}

.inform-card .card2 {
    background-color: #efbcd5;
}

.inform-card .card3 {
    background-color: #f9dc5c;
}

.inform-card .card4 {
    background-color: #3185fc;
}

.inform-card .card .body-icon {
    font-size: 4rem;
    transform: rotate(310deg);
    color: var(--mainPrimary);
}

.inform-card .card .fa,
.inform-card .card a {
    color: var(--mainPrimary);
}

.inform-card .card a:hover {
    text-decoration: none;
    color: white;
}

.inform-card .card {
    color: white;
}

.inform-card .card-footer {
    background: rgba(0, 0, 0, 0.5);
}